{{#link-to "index" class="navbar-brand"}}
	<img src="/assets/images/Remanso-05.png" alt="Remanso del rodeo apartamentos" class="logo">
{{/link-to}}
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/></svg>
</button>
<div class="navbar-collapse collapse justify-content-center" id="navbarCollapse" style="">
	<ul class="navbar-nav">
		<li class="spacer"></li>
		<li class="d-none d-lg-block d-xl-block" {{action "scrollTo" ".ctn-form-section" bubles=false}}>
			{{#link-to "index"}}
				Proyecto
			{{/link-to}}
		</li>
		<li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" ".ctn-form-section" bubles=false}}>
			{{#link-to "index"}}
				Proyecto
			{{/link-to}}
		</li>
		<li class="separator">|</li>
		<li class="d-none d-lg-block d-xl-block" {{action "scrollTo" ".image-gallery" bubles=false}}>
			{{#link-to "index"}}
				Galeria
			{{/link-to}}
		</li>
		<li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" ".image-gallery" bubles=false}}>
			{{#link-to "index"}}
				Galeria
			{{/link-to}}
		</li>
		<li class="separator">|</li>
		<li class="d-none d-lg-block d-xl-block" {{action "scrollTo" ".ctn-projects" bubles=false}}>
			{{#link-to "index"}}
				Apartamentos
			{{/link-to}}
		</li>
		<li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" ".ctn-projects" bubles=false}}>
			{{#link-to "index"}}
				Apartamentos
			{{/link-to}}
		</li>
		<li class="separator">|</li>
		<li class="d-none d-lg-block d-xl-block" {{action "scrollTo" "#map" bubles=false}}>
			{{#link-to "index"}}
				Mapa
			{{/link-to}}
		</li>
		<li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" "#map" bubles=false}}>
			{{#link-to "index"}}
				Mapa
			{{/link-to}}
		</li>
		<li class="separator">|</li>
		<li class="d-none d-lg-block d-xl-block" {{action "scrollTo" "footer" bubles=false}}>
			{{#link-to "index"}}
				Contacto
			{{/link-to}}
		</li>
		<li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" {{action "scrollTo" "footer" bubles=false}}>
			{{#link-to "index"}}
				Contacto
			{{/link-to}}
		</li>
		<li class="separator">|</li>
		<li class="d-none d-lg-block d-xl-block">
			{{#link-to "contacts"}}
				Lista Contactos
			{{/link-to}}
		</li>
		<li class="d-lg-none d-xl-none" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
			{{#link-to "contacts"}}
				Lista Contactos
			{{/link-to}}
		</li>
	</ul>
</div>
{{yield}}