<ul>
	<li>
		<img src="/assets/images/Remanso-05.png" alt="Remanso del rodeo apartamentos" class="logo">
	</li>
	<li {{action "scrollTo" ".ctn-form-section"}}>Proyecto</li>
	<li class="spacer">|</li>
	<li {{action "scrollTo" ".image-gallery"}}>Galeria</li>
	<li class="spacer">|</li>
	<li {{action "scrollTo" ".ctn-projects"}}>Apartamentos</li>
	<li class="spacer">|</li>
	<li {{action "scrollTo" "#map"}}>Mapa</li>
	<li class="spacer">|</li>
	<li {{action "scrollTo" "footer"}}>Contacto</li>
</ul>

{{yield}}